/* Style the forgot password container */
.forgot-password-container {
  display: flex; /* Flexbox kullanarak dikey hizalama */
  flex-direction: column; /* Dikey hizalama */
  justify-content: center; /* Dikey olarak ortala */
  align-items: center; /* Yatay olarak ortala */
  width: 420px;
  height: 90%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  color: white;
}

/* Style the logo container */
.logo-container {
  margin-bottom: 20px;
  height: 20%;
}

/* Style the heading */
.forgot-password-container h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}

/* Style success and error messages */
.success-message,
.error-message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

/* Style the input group */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

/* Style the input field */
.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}
